.text-content-container {
    width: 65%;
    float: left;
    padding: 30px 50px 50px 50px;
}
#text-content {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 1.8em;
    word-wrap: break-word;
}

.text-title {
    font-family: 'Crete Round', serif;
    word-wrap: break-word;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(235, 235, 235);
}

div.navbar-container {
    width: 100%;
    height: 73px;
    position: fixed;
    top: 0px;
    z-index: 100;
}

div.navbar {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid;
    border-color: rgb(0, 178, 255);
}

div.section {
    height: 70px;
    max-width: 1000px;
    margin: auto;
    padding: 0px 20px;
    display: block;
    position: relative;
}

.logo {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: center;
    z-index: 1;
    display: inline-block;
    background-image: url("/img/Asset 312.svg");
    float: left;
    margin: auto auto auto 10px;
}

.navbutton-container {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: 150px;
}

.navbutton {
    height: 22px;
    margin: auto 10px;
    padding: 6px 8px 2px 8px;
    border-radius: 2px;
    background-color: rgb(0, 178, 255);
    font-family: 'Crete Round', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.1s;
    display: inline-block;
}

.navbutton:hover {
    background-color: white;
    transition: background-color 0.1s;
}

.navbutton-dropdown {
    height: 22px;
    margin: auto 10px;
    display: inline-block;
    padding: 3px 6px;
    font-family: 'Crete Round', sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: white;
    transition: color 0.1s;
    position: relative;
}

.navbutton-dropdown:hover {
    color: rgb(0, 178, 255);
    transition: color 0.1s;
}

.tags-dropdown {
    visibility: hidden;
    transition: all 0.2s;
    display: none;
}

.navbutton-dropdown:hover .tags-dropdown {
    width: 120px;
    background-color: white;
    position: absolute;
    right: 0px;
    margin: 0px;
    z-index: 999;
    text-align: right;
    padding: 20px;
    visibility: visible;
    transition: all 0.2s;
    display: block;
}

li {
    list-style: none;
}

.main-container {
    margin: 73px auto auto auto;
    max-width: 1000px;
    padding: 0px 0px;
    z-index: 100;
}

.box-shadow {
    box-shadow: 0 0 5px #a6a6a6;
    background-color: white;
    overflow: hidden;
}


div.banner-container {
    max-width: inherit;
    height: 300px;
}

div.banner {
    height: 400px;
    width: inherit;
    margin: auto;
    position: fixed;
    top: 23px;
    overflow: hidden;
    background: no-repeat center;
    background-size: cover;
    transition: top 0.1s;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}


@media only screen and (min-width: 460px) {
    .main-container {
        margin: 73px auto auto auto;
        max-width: 1000px;
        padding: 0px 20px;
        z-index: 100;
        min-width: 400px;
    }
}


@media only screen and (min-width: 768px) {

}
