
.text-date {
    border-bottom: 3px solid rgb(0, 178, 255);
    line-height: 1.3em;
    padding: 0px 0px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: rgb(40, 40, 40);
    font-weight: 700;
    font-size: 0.9em;
}

#text-content {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    line-height: 1.8em;
    word-wrap: break-word;
}

.text-content-container {
    padding: 5% 6%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-container {
    width: inherit;
    height: 300px;
}

.banner {
    height: 300px;
    width: inherit;
    margin: auto;
    overflow: hidden;
    background: no-repeat center;
    background-size: cover;
    transition: top 0.1s;
}

.post-details {
    overflow: hidden;
    height: 15px;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 15px;
    text-align: left;
    font-size: 14px;
    color: #5C5C5C;
    font-family: 'Roboto Condensed', sans-serif;
}

.post-date {
    display: inline;
}

.post-tag {
    float: right;
}
